<% if (posts && posts.length > 0) { %> <% posts.forEach((post) => { %> <% if
(locals.user && locals.user.membership_status) { %>
<h2>name <%= post.full_name %></h2>
<h2>@<%= post.username %></h2>

<h2><%= post.title %></h2>
<h6><%= post.text %></h6>
<%} else {%>
<div class="post">
  <h2>*********</h2>
  <h2>@ ******</h2>

  <h2><%= post.title %></h2>
  <h6><%= post.text %></h6>
</div>
<% }}) %> <% } else { %>
<p>No posts available.</p>
<% } %>
